* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
.grid,
footer {
  max-width: 840px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: rgb(117, 117, 206);
}
nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Definimos dos columnas, una con el doble de ancho que la otra */
  gap: 20px;
}

main h1 {
  border-bottom: 0.2rem solid rgb(117, 117, 206);
}
main img {
  border: 10px solid transparent;
  border-image: linear-gradient(to bottom, #71babc 0%, #86bee1 100%) 1;
  float: right;
}
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
}
aside img {
  width: 200px;
  height: auto;
}
aside h2 {
  position: absolute;
  left: 49px;
}
p {
  padding: 30px;
}

footer {
  border-top: 1px solid #333;
  text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
